.hover-underline-animation {
  display: inline-block;
  position: relative;
  padding-bottom: 2px;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #AF13F2;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.title-name {
    font-family: pacifico,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
}