@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.title-name {
    font-family: pacifico,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
}

.intro {
  background: white;
  margin: 40px;
  box-shadow: -4px 4px 30px -5px rgba(0, 0, 0, 0.25);
}

.projects {
  background: white;
  margin: 40px;
  box-shadow: -4px 4px 30px -5px rgba(0, 0, 0, 0.25);
}

.contact-card:hover {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .5;
	}
	100% {
		opacity: 1;
	}
}

.project-container:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  padding-bottom: 2px;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #7612FF;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}