.intro {
  background: white;
  margin: 40px;
  box-shadow: -4px 4px 30px -5px rgba(0, 0, 0, 0.25);
}

.projects {
  background: white;
  margin: 40px;
  box-shadow: -4px 4px 30px -5px rgba(0, 0, 0, 0.25);
}

.contact-card:hover {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .5;
	}
	100% {
		opacity: 1;
	}
}

.project-container:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}